.App {
  text-align: center;
  background-image: url('./industry.png');
  height: 100vh;
  background-size: cover;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input {
  width: 300px;
  height: 40px;
}

td {
  text-align: center;
}

i {
  position: absolute;
  margin-top: 3.5%;
  margin-left: 260px;
}
i:hover {
  color: gray;
  cursor: pointer;
}

#hide1, #hide2{
  display: none;
}
#toSortEmpId:hover + #hide1 {
  cursor: pointer;
  display: block;
  /*visibility: visible; */
  width: 100px;
  line-height: 20px;
  padding: 6px;
  font-size: 14px;
  text-align: center;
  z-index: 999;
  color: rgb(113, 157, 171);
  background: rgb(255, 255, 255);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
  box-shadow: #333 -4px 4px 16px 2px;
  -webkit-transition: opacity 100ms ease-in;
  -o-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
  background: transparent;
}
#toSortEmpName:hover + #hide2 {
  cursor: pointer;
  display: block;
  /*visibility: visible; */
  width: 100px;
  line-height: 20px;
  padding: 6px;
  font-size: 14px;
  text-align: center;
  z-index: 999;
  color: rgb(113, 157, 171);
  background: rgb(255, 255, 255);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
  box-shadow: #333 -4px 4px 16px 2px;
  -webkit-transition: opacity 100ms ease-in;
  -o-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
  background: transparent;
}

#noOfRows {
  margin-left: 12px;
  margin-bottom: 10px;
  margin-right: 5px;
}
#pagesize {
  margin-right: 15px;
}

#checkbox {
  margin-top: 2px;
  margin-left: -10px;
  width: 15px;
  height: 15px
}
#paginationButton {
  background: transparent;
  color: Blue;
  border: black solid 1px;
}
.empTable {
  border: black solid 2px;
  padding: 20px;
}
#searchText {
  width: 200px;
  margin-bottom: 10px;
  margin-left: 170px;
  margin-right: 10px;
}
#empAdd, #empUpdate{
  background-color: lightgreen;
}
#empDel {
  margin-left: 5px;
  margin-top: 10px;
  background-color: lightgrey;
}
#editDel-btn, #asd{
  margin-left: 10px;
  margin-top: 8px;
}
#submit-btn {
  margin-top: 10px;
}
#marginPagination {
  margin-top: 10px;
  margin-left: -20px;
}


